@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Wendy+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Delius&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chango&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Damion&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rampart+One&display=swap');


*{
  margin: 0;
  height: 0;
}

a{
    text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

body{
    font-family: 'IBM Plex Mono', monospace;
    display: flex;
    height: auto;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    overflow-x: hidden;
    /* background-image: linear-gradient(to left, #6000ff, #8a00ff, #004e68); */
    background: black;
    background-size: 500% 100%;
    animation: degrade-animado 5s infinite alternate;
    background-attachment: fixed;
}

body::-webkit-scrollbar{
  width: 5px;
}

body::-webkit-scrollbar-track{
  background: rgb(252, 252, 253);
}
body::-webkit-scrollbar-thumb{
  background-color: rgb(238, 238, 238);
  border-radius: 20px;
}

.nav-list {
  list-style: none;
  display: flex;
}

.nav-list li {
  letter-spacing: 3px;
  margin-left: 32px;
}

.mobile-menu {
  display: none;
  cursor: pointer;
}

.mobile-menu div {
  width: 32px;
  height: 2px;
  background: #fff;
  margin: 8px;
  transition: 0.3s;
}

@media (max-width: 850px) {
  body {
    overflow-x: hidden;
  }
  .nav-list {
    position: absolute;
    top: 8vh;
    right: 0;
    width: 50vw;
    height: 92vh;
    background: #23232e;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    transform: translateX(110%);
    transition: transform 0.3s ease-in;
  }
  .nav-list li {
    margin-left: 0;
    opacity: 0;
  }
  .mobile-menu {
    display: block;
  }
}

.nav-list.active {
  transform: translateX(10%);
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.mobile-menu.active .line1 {
  transform: rotate(-45deg) translate(-8px, 8px);
}

.mobile-menu.active .line2 {
  opacity: 0;
}

.mobile-menu.active .line3 {
  transform: rotate(45deg) translate(-5px, -7px);
}

.logo{
  padding-top: 2%;
  height:60px;
}

header{
 width: 90%;
 height: 8vh;
 display: flex;
 justify-content: space-between;
 align-items: center;
 position: fixed;
 /* background-image: linear-gradient(to left, #6000ff, #8a00ff, #004e68); */
 background: black;
 background-size: 500% 100%;
 animation: degrade-animado 5s infinite alternate;
 background-attachment: fixed;
 z-index: 99;
 text-shadow: 3px 2px 5px  yellow;
}

header p{
 font-size: 2.3rem;
 color: rgb(240, 238, 238);
 font-family: 'Damion', cursive;
 color: rgb(223, 223, 223);
}

.button {
display: flex;
width: 25%;
font-size: 2.3rem;
font-family: 'Share Tech Mono', monospace;
}

.code img{ 
  height: 20vw;
  width: 20vw;
  padding-top: 90%;
}

.code a {
  height: 30%;
  width: 30%;
  z-index: 100%;
}

.test {
    display: flex;
}
.one {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 2%;
  outline: none;
  cursor: pointer;
  width: 85px;
  height: 35px;
  background-image: linear-gradient(to top, #D8D9DB 0%, #fff 80%, #FDFDFD 100%);
  border-radius: 30px;
  border: 1px solid #8F9092;
  transition: all 0.2s ease;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 14px;
  font-weight: 600;
  color: #606060;
  text-shadow: 0 1px #fff;
}
.one:hover {
  box-shadow: 0 4px 3px 1px #FCFCFC, 0 6px 8px #D6D7D9, 0 -4px 4px #CECFD1, 0 -6px 4px #FEFEFE, inset 0 0 3px 3px #CECFD1;
}

.one:active {
  box-shadow: 0 4px 3px 1px #FCFCFC, 0 6px 8px #D6D7D9, 0 -4px 4px #CECFD1, 0 -6px 4px #FEFEFE, inset 0 0 5px 3px #999, inset 0 0 30px #aaa;
}

.one:focus {
  box-shadow: 0 4px 3px 1px #FCFCFC, 0 6px 8px #D6D7D9, 0 -4px 4px #CECFD1, 0 -6px 4px #FEFEFE, inset 0 0 5px 3px #999, inset 0 0 30px #aaa;
}
.two {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 2%;
  outline: none;
  cursor: pointer;
  width: 100px;
  height: 35px;
  background-image: linear-gradient(to top, #D8D9DB 0%, #fff 80%, #FDFDFD 100%);
  border-radius: 30px;
  border: 1px solid #8F9092;
  transition: all 0.2s ease;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 14px;
  font-weight: 600;
  color: #606060;
  text-shadow: 0 1px #fff;
}
.two:hover {
  box-shadow: 0 4px 3px 1px #FCFCFC, 0 6px 8px #D6D7D9, 0 -4px 4px #CECFD1, 0 -6px 4px #FEFEFE, inset 0 0 3px 3px #CECFD1;
}

.two:active {
  box-shadow: 0 4px 3px 1px #FCFCFC, 0 6px 8px #D6D7D9, 0 -4px 4px #CECFD1, 0 -6px 4px #FEFEFE, inset 0 0 5px 3px #999, inset 0 0 30px #aaa;
}

.two:focus {
  box-shadow: 0 4px 3px 1px #FCFCFC, 0 6px 8px #D6D7D9, 0 -4px 4px #CECFD1, 0 -6px 4px #FEFEFE, inset 0 0 5px 3px #999, inset 0 0 30px #aaa;
}
.tree {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 2%;
  outline: none;
  cursor: pointer;
  width: 85px;
  height: 35px;
  background-image: linear-gradient(to top, #D8D9DB 0%, #fff 80%, #FDFDFD 100%);
  border-radius: 30px;
  border: 1px solid #8F9092;
  transition: all 0.2s ease;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 14px;
  font-weight: 600;
  color: #606060;
  text-shadow: 0 1px #fff;
}
.tree:hover {
  box-shadow: 0 4px 3px 1px #FCFCFC, 0 6px 8px #D6D7D9, 0 -4px 4px #CECFD1, 0 -6px 4px #FEFEFE, inset 0 0 3px 3px #CECFD1;
}

.tree:active {
  box-shadow: 0 4px 3px 1px #FCFCFC, 0 6px 8px #D6D7D9, 0 -4px 4px #CECFD1, 0 -6px 4px #FEFEFE, inset 0 0 5px 3px #999, inset 0 0 30px #aaa;
}

.tree:focus {
  box-shadow: 0 4px 3px 1px #FCFCFC, 0 6px 8px #D6D7D9, 0 -4px 4px #CECFD1, 0 -6px 4px #FEFEFE, inset 0 0 5px 3px #999, inset 0 0 30px #aaa;
}

.four {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 2%;
  outline: none;
  cursor: pointer;
  width: 85px;
  height: 35px;
  background-image: linear-gradient(to top, #D8D9DB 0%, #fff 80%, #FDFDFD 100%);
  border-radius: 30px;
  border: 1px solid #8F9092;
  transition: all 0.2s ease;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 14px;
  font-weight: 600;
  color: #606060;
  text-shadow: 0 1px #fff;
}
.four:hover {
  box-shadow: 0 4px 3px 1px #FCFCFC, 0 6px 8px #D6D7D9, 0 -4px 4px #CECFD1, 0 -6px 4px #FEFEFE, inset 0 0 3px 3px #CECFD1;
}

.four:active {
  box-shadow: 0 4px 3px 1px #FCFCFC, 0 6px 8px #D6D7D9, 0 -4px 4px #CECFD1, 0 -6px 4px #FEFEFE, inset 0 0 5px 3px #999, inset 0 0 30px #aaa;
}

.four:focus {
  box-shadow: 0 4px 3px 1px #FCFCFC, 0 6px 8px #D6D7D9, 0 -4px 4px #CECFD1, 0 -6px 4px #FEFEFE, inset 0 0 5px 3px #999, inset 0 0 30px #aaa;
}
.five {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 2%;
  outline: none;
  cursor: pointer;
  width: 85px;
  height: 35px;
  background-image: linear-gradient(to top, #D8D9DB 0%, #fff 80%, #FDFDFD 100%);
  border-radius: 30px;
  border: 1px solid #8F9092;
  transition: all 0.2s ease;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 14px;
  font-weight: 600;
  color: #606060;
  text-shadow: 0 1px #fff;
}
.five:hover {
  box-shadow: 0 4px 3px 1px #FCFCFC, 0 6px 8px #D6D7D9, 0 -4px 4px #CECFD1, 0 -6px 4px #FEFEFE, inset 0 0 3px 3px #CECFD1;
}

.five:active {
  box-shadow: 0 4px 3px 1px #FCFCFC, 0 6px 8px #D6D7D9, 0 -4px 4px #CECFD1, 0 -6px 4px #FEFEFE, inset 0 0 5px 3px #999, inset 0 0 30px #aaa;
}

.five:focus {
  box-shadow: 0 4px 3px 1px #FCFCFC, 0 6px 8px #D6D7D9, 0 -4px 4px #CECFD1, 0 -6px 4px #FEFEFE, inset 0 0 5px 3px #999, inset 0 0 30px #aaa;
}

.home{
    display: flex;
    width: 89%;
    height: 50vh;
    /* border: 1px solid black; */
    justify-content: space-around;
}

section{
    padding-top: 5%;
}

.teste{
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    width: 60%;
    height: 40%;
    color: rgb(255, 255, 255);
    padding-left: 5%;
}

.teste h1{
    height: 30%;
    font-size: 2.5rem;
    border-right: 3px solid rgb(141, 131, 131);
    width: 21ch;
    white-space: nowrap;
    overflow: hidden;
    animation:t 3s linear infinite alternate;
    text-shadow: 3px 5px 9px  yellow;
}

.teste p{
    font-size: 3rem;
    font-weight: bold;
    font-family: 'Share Tech Mono', monospace;
    transform: translateY(0px);
    animation: float 5s ease-in-out infinite;
    color: white;
}

.imagem{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 75%;
    width: 23%;
}

.foto{
  width: 300px;
  height: 350px;
  background-image: url(./img/283149099_5137559336332177_507569433021069880_n.jpg);
  border: solid 3px rgb(255, 255, 255);
  text-shadow: rgb(238, 238, 238) 2px 10px 2px;
  background-size: 300px;
}

.social{
    height: 11%;
    width: 100%;
    padding-left: 22%;
    padding-top: 1%;
}

.imagem img{
    width: 40px;
    height: 40px;
}

.about-me{
  font-family: 'Rampart One', sans-serif;
  display: flex;
  width: 89%;
  height: 50vh;
  justify-content: space-around;
  padding-left: 10%;
}

.teste1 h1{
  height: 30%;
  font-size: 4rem;
  opacity: 0;
  transform: translateY(-0.25em);
  display: inline-block;
  animation: burst_in 2.3s cubic-bezier(0, 1.62, 1, 1.6) infinite;
  color: rgb(245, 245, 245);
  text-shadow: 3px 5px 9px yellow;
}

.teste1 p{
  font-size: 2.3rem;
  font-family: 'Share Tech Mono', monospace;
  padding-top: 3%;
  color: white;
}

.skills{
  display: flex;
  width: 89%;
  height: 50vh;
  justify-content: space-around;
}

.teste2 {
    display: flex;
    width: 89%;
    height: 50vh;   
}

.teste2 h1{
  font-family: 'Rampart One', sans-serif;
  height: 30%;
  font-size: 4rem;
  opacity: 0;
  transform: translateY(-0.25em);
  animation: burst_in 2.3s cubic-bezier(0, 1.62, 1, 1.6) infinite;
  color: rgb(250, 250, 250);
  text-shadow: 3px 5px 9px yellow;
}

.container {
  position: relative;
  max-width: 900px;
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.container .card:nth-child(1) {
  animation: zoom 0.4s ease-in-out forwards;
  animation-delay: 0.4s;
}

.container .card:nth-child(2) {
  animation: zoom 0.4s ease-in-out forwards;
  animation-delay: 0.4s;
}

.container .card:nth-child(3) {
  animation: zoom 0.4s ease-in-out forwards;
  animation-delay: 0.4s;
}

@keyframes zoom {
  to {
      transform: scale(1.3);
  }
}

.container .card:hover {
  margin-top: -10px;
  box-shadow: 0 15px 35px rgba(0, 0, 0, .5);
}

.container .card:before {
  content: '';
  position: absolute;
  top: 0;
  left: -50%;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, .03);
  pointer-events: none;
  z-index: 1;
}

.percent {
  position: relative;
  align-items: center;
  justify-content: center;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  box-shadow: inset 0 0 50px #000;
  background: #222;
  z-index: 1000;
}

.percent .number {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.percent .number h2 {
  color: #777;
  font-weight: 150;
  font-size: 30px;
  transition: 2s;
}

.card:hover .percent .number h2 {
  color: #fff;
  font-size: 50px;
}

.percent .number h2 span {
  font-size: 24px;
  color: #777;
  transition: 0.5s;
}

.card:hover .percent .number h2 span {
  color: #fff;
}

.text {
  position: relative;
  color: #777;
  margin: 20px;
  font-weight: 700;
  font-size: 18px;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: 0.5s;
}

.card:hover .text {
  color: #fff;
}

svg {
  position: relative;
  width: 150px;
  height: 150px;
  z-index: 1000;
}

svg circle {
  width: 100%;
  height: 100%;
  fill: none;
  stroke: #191919;
  stroke-width: 10;
  stroke-linecap: round;
  transform: translate(5px, 5px);
}

svg circle:nth-child(2) {
  stroke-dasharray: 440;
  stroke-dashoffset: 440;
}

.card:nth-child(1) svg circle:nth-child(2) {
  stroke-dashoffset: calc(440 - (440 * 90) / 100);
  stroke: #00ff43;
}

.card:nth-child(2) svg circle:nth-child(2) {
  stroke-dashoffset: calc(440 - (440 * 85) / 100);
  stroke: #00a1ff;
}

.card:nth-child(3) svg circle:nth-child(2) {
  stroke-dashoffset: calc(440 - (440 * 60) / 100);
  stroke: #ff04f7;
}
.titlePjct{
  font-family: 'Rampart One', sans-serif;
  font-size: 3rem;
  opacity: 0;
  transform: translateY(-0.25em);
  animation: burst_in 2.3s cubic-bezier(0, 1.62, 1, 1.6) infinite;
  color: rgb(255, 255, 255);
  padding-left: 5.4%;
  text-shadow: 3px 5px 9px yellow;
  height: 12%; 
}
.projects{
  flex-direction: column;
  justify-content: space-between;
  width: 89%;
  height: 130vh;
  /* border: 1px solid rgb(174, 15, 15); */
}
.projetos{
  display:flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  /* border: 1px solid rgb(28, 174, 15); */
}

.basicProjct{
  display: flex;
  width: 100%;
  height: 33%;
  /* border: 1px solid rgb(174, 158, 15); */
  color: white;
}

.estilo a{
  height: 95%;
  width: 35%;
}

.estilo a img{
  width: 100%;
  height: 100%;
}

.estilo p{
  align-items: flex-start;
}

.estilo{
  display: flex;
  align-items: flex-start;
  padding: 10px;
  column-gap: 20px;
  width: 100%;
  height: 100%;
  font-size: 1.1rem;
  font-family: 'Share Tech Mono', monospace;
}

.estilo p{
  max-width: 90%;
  word-break: break-word;
}

.contact{
  display: flex;
  flex-direction:column ;
  width: 89%;
  height: 50vh;
  font-size: 2rem;
  /* border: 2px solid rgb(28, 174, 15); */
}

.contact h1{
  padding-top: 6%;
  display: flex;
  align-items: center;
  font-family: 'Rampart One', sans-serif;
  font-size: 4rem;
  opacity: 0;
  transform: translateY(-0.25em);
  animation: burst_in 2.3s cubic-bezier(0, 1.62, 1, 1.6) infinite;
  color: rgb(252, 252, 252);
  padding-left: 5.4%;
  text-shadow: 3px 5px 9px  yellow;
  height: 17%;
  /* border: 2px solid rgb(28, 174, 15); */
}

form {
  display: flex;
  height: 100%;
  width: 100%;
  row-gap: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* border: 2px solid rgb(28, 174, 15); */
  justify-content: center;
  margin-top: 1%;
}

.input {
  width: 30%;
  height: 30px;
  padding: 10px 18px;
  font-size: 14px;
  font-family: inherit;
  box-shadow: 0 0 0 1px #ffe3e3;
  border: none;
  border-radius: 20px;
  background-color: #fff5f5;
}

.text{
  height:50%;
  /* border: 2px solid rgb(28, 174, 15); */
}

.input::placeholder {
  color: #ce9797;
  font-size: 12px;
}

.input:focus {
  outline: none;
  box-shadow: 0 0 0 1px #ffe3e3;
  border: none;
}

.btnn {
  width: 140px;
  height: 50px;
  background: linear-gradient(to top, #f6f6f6, #f1f2f4, #e7e7e7);
  color: #000000;
  border-radius: 50px;
  border: none;
  outline: none;
  cursor: pointer;
  position: relative;
  box-shadow: 0 15px 30px rgba(235, 231, 231, 0.5);
  overflow: hidden;
}

.btnn span {
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 1px;
  transition: top 0.5s;
}

.btnn-text-one {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}

.btnn-text-two {
  position: absolute;
  width: 100%;
  top: 150%;
  left: 0;
  transform: translateY(-50%);
}

.btnn:hover .btn-text-one {
  top: -100%;
}

.btnn:hover .btn-text-two {
  top: 50%;
}
footer {
  display: flex;
  align-items: center;
  width: 89%;
  justify-content: space-between;
  height: 10vh;
}
footer p{
  font-size: 1.1rem;
  font-family: 'Share Tech Mono', monospace;
  color: rgb(255, 255, 252);
}
.btnTop{
  padding: 20px;
  font-size: 1rem;
  background-image: url(../assets/img/seta.png);
  background-size:cover ;
  background-color: transparent;
  border: none;
  font-weight: bold;
  cursor: pointer;
  transition: .4s;
}
.btnTop:hover {
  background-color: transparent;
  transform: scale(1.3);
}
@keyframes t{
  0% {width:0%}
}

@keyframes blinking {
    0%
    {
        border-color: transparent;
    }
}

@keyframes burst_in {
  25%, 80% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes degrade-animado{
  0%{
    background-position-x: 0%;
  }
  100%{
    background-position-x: 100%;
  }
}
@keyframes float {
	0% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
		transform: translatey(0px);
	}
	50% {
		box-shadow: 0 25px 15px 0px rgba(0,0,0,0.2);
		transform: translatey(-20px);
	}
	100% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
		transform: translatey(0px);
	}
}

@media only screen and (max-width: 750px) {

/* header{
  display: flex;
  justify-content: space-evenly;
} */

.test a{
  visibility: hidden;
}

.home{
  margin-bottom: 50px;
}

.teste h1{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
}


.teste1 p{
  font-size: 0.2rem;
}

.teste p{
  font-size: 2rem;
}

.social a{
  justify-content: center;
  align-items: center;
}


.box-degrade p{
  font-size: 1rem;
}

.logo{
  transform: translateY(25%);
  width: 14vw;
  height: 10%;
}

.teste1 p, .teste2 p, .basicProjct p{
  font-size: 1rem;
}

.social{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.foto{
  visibility: hidden;
}

.teste2{
  display: flex;
  flex-direction: column;
}


.estilo{
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 80px;
  justify-content: center;
}

.logo {
    padding-top: 2%;
    height: 60px;
    image-resolution: 3px;
  }
  
.about-me h1, .skills h1, .projects h1, .contact h1{
  font-size: 1.7rem;
}

footer p{
  font-size: 0.5rem;
}

.code{
  margin-top: 75%;
  width: 130px;
  height: 130px;
}