body {
    background-color: orange;
}

table {
    background-color: white;
    margin-top: 300px;
}

form {
    width: 350px;
    text-align: left;
    padding: 50px;
}

input {
    border: 1px solid black;
    border-radius: 10px;
    margin-bottom: 20px;
    margin-left: 20px;
}

.email, .senha {
    margin-left: 88px;
}

.data {
    margin-left: 25px;
}

.botao1 {
    padding: 8px;
    background-color: lightgreen;
    border: none;
    margin-left: 54%;
}

.borda-meio {
    border-right: 1px solid black;
}

.email1, .senha1 {
    margin-left: 60px;
}

.botao2 {
    padding: 8px;
    background-color: lightgreen;
    border: none;
    margin-left: 45%;
}