@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Teko:wght@400;500&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    background-color: #171717;
    color: white;
    height: 100vh;

    text-transform: uppercase;

    text-align: center;
    justify-content: center;
    align-items: center;
}

body div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    font-family: 'Pixelify Sans', cursive;
    font-size: 7rem;

    text-shadow: 4px 10px 1px #303030;
}

h2 {
    font-family: 'Teko', sans-serif;
    font-size: 5rem;

    text-shadow: 4px 10px 1px #303030;
}

.link {
    background-color: red;
    width: fit-content;
    padding: 10px;

    cursor: pointer;
    font-family: 'Teko', sans-serif;
    font-size: 1.5rem;

    transition: all 0.5s ease-out;

    box-shadow: 0px 0px 20px red;
}

.link:hover {
    transform: translateY(-10%);
}
