* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: lightgray;
}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    height: 10vh;
}

header img{
    width: 100px;
}

.superior{
    display: flex;
    flex-direction: row;
    margin-left: 20px;
}

.superior p{
    font-weight: bolder;
}

.superior p span{
    margin-inline: 15px;
}

.msg1, .msg2, .msg3{
    font-size: 18px;
}

.msg1 span{
    color: red;
}

.msg2 span{
    color: green;
}

.msg3 span{
    color: rgb(39, 164, 189);
}

.buscar{
    background-color: gray;
    border: black solid 1px;
    border-radius: 100px;
    width: 20vw;
    margin-right: 20px;
}

.buscar img{
    width: 30px;
    transform: translateY(3.5px);
}

input{
    border-radius: 100px;
    float: left;
    padding: 10px;
    font-style: italic;
    background-color: transparent;
    font-size: 16px;
    border: none; 
    width: 17vw;
    margin-right: 12px;
}

input::placeholder{
    color: white;
    font-size: 16px;
}
main{
    display: flex;
    width: 80vw;
    height: 85vh;
    align-items: center;
    justify-content: space-between;
}

hr{
    width: 98vw;
    border-color: gray;
    border-top: 2px solid gray;
    column-gap: 120px;
}

.biden1 img, .covid img, .india img{
    width: 400px;
}
.biden1{
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 120px;
}

.biden1 div p{
    margin-top: 26px;
    row-gap: 20px;

}

.biden1 p{
    display: flex;
    flex-direction: row;
    align-items: center;
    
}

.noticias{
    display: flex;
    flex-direction: column;
    row-gap: 50px;
    width: 50vw;
    margin-top: 50px;
}
.covid{
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 120px;
}

.covid p{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.covid div p{
    margin-top: 26px;
    row-gap: 20px;
}

.india{
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 120px;
}

.india p{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.india div p{
    margin-top: 26px;
    row-gap: 20px;
}

.tops{
    width: 200px;
    height: 400px;
    display: flex;
    align-items: center;
    flex-direction: row;
    background: white;
    justify-content: center;
}


.tops div p{
    display: flex;
    margin: 20px;
}

.tops div hr{
    width: 10.4vw;
    border-color: gray;
    border-top: 2px solid gray;
    column-gap: 20px;
}