body{
  background: #beb7b7;
}

.card{
  width: 250px;
  border-radius: 15px;
  padding: 20px;
  border: 1px solid rgb(14, 14, 14);
  background: #1eb6b637;
  box-shadow: 5px 5px 15px rgba(0,0,0, .5);
}

.card h1{
  text-align: center;
}

.model{
  display: none;
}