.active {
    display: block;
}

.notActive {
    display: none;
}

#deleteAlert {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 101;

    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
}

.delete-bg {
    width: 100vw;
    height: 100vh;

    background-color: black;
    opacity: 0.2;
    
}

.delete-box {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 40%;
    left: 40%;
    width: 15rem;
    height: 10rem;

    justify-content: center;
    align-items: center;
    text-align: center;

    background-color: white;
    border: 1px solid black;
    border-radius: 15px;
    opacity: 1;

    z-index: 102;
    gap: 10px;
}

.title {
    width: 85%;
}

.buttons {
    display: flex;
    gap: 10px;
}

.buttons input {
    color: white;
    padding: 20px;
    cursor: pointer;

    border-radius: 10px;
    border: 1px solid black;
}

.buttons input:nth-child(1) {
    background-color: red;
}

.buttons input:nth-child(2) {
    background-color: blue;
}

.buttons input:hover {
    filter: brightness(0.8);
}