@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

*{
    margin: 0;
    padding:0;
}

body{
    background: #516384;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    vertical-align: middle;
    width: 320px;
    height: 180px;
    border-radius: 50%;
  }
  
  .container {
    padding: 2px 16px;
  }
  .container h3{
    color: rgb(3, 2, 26);
    font-size: 35px;
    flex-direction: column;
    align-items: center;
  }
  .container p{
    color: rgb(3, 2, 26);
    font-size: 35px;
    flex-direction: column;
    align-items: center;
  }
  
  button {
    font-size: 18px;
    font-weight: 600;
    background-color: rgb(198, 214, 16);
    border-radius: 20px;
    border: 0;
    padding: 10px 60px;
    cursor: pointer;
  }

  input[type=text] {
    width: 30%;
    padding: 10px 15px;
    margin: 8px 0;
    box-sizing: border-box;
  }


  