body {
    background-color: aqua;
}

table {
    background-color: whitesmoke;
}

thead {
   max-width: 30px;
}

td {
    width: 100px;
    height: 40px;
}

th {
    width: 100px;
}

.h-image {
    background-image: url(/img/ceu.jpg);
    width: 250px;
    height: 150px;
}

.center {
    text-align: center;
}

.max {
    color: red;
}

.min {
    color: blue;
}