@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Wendy+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Delius&display=swap');
@import url(https://fonts.googleapis.com/css?family=Montserrat:700);

*{
    margin: 0;
    height: 0;
   
}

a{
    text-decoration: none;
}

body{
    font-family: 'IBM Plex Mono', monospace;
    display: flex;
    height: auto;
    width: 100vw;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    overflow-x: hidden;
    background-color: blueviolet;
    }

header{
 width: 89%;
 height: 8vh;
 display: flex;
 justify-content: space-between;
 /* background-color: rgb(42, 165, 118); */
 align-items: center;
 position: fixed;
 background-color: blueviolet;
 z-index: 99;
 
}

header p{
 font-size: 2.3rem;
 color: rgb(17, 17, 17);
 font-family: 'Share Tech Mono', monospace;
}


.button {
display: flex;
width: 25%;
font-size: 2.3rem;
justify-content: space-between;
font-family: 'Share Tech Mono', monospace;
}

.test {
    display: flex;
  }

.one {
    background: transparent;
    width: 10%;
    height: 20px;
    justify-content: center;
    position: relative;
    padding: 5px 25px;
    display: flex;
    align-items: center;
    font-size: 17px;
    font-weight: 600;
    text-decoration: none;
    cursor: pointer;
    border: 1px solid rgb(0, 17, 255);
    border-radius: 25px;
    outline: none;
    overflow: hidden;
    color: rgb(0, 0, 0);
    transition: color 0.3s 0.1s ease-out;
    text-align: center;
  }

  
  
.one span {
    margin: 10px;
  }
  
.one::before {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    content: '';
    border-radius: 50%;
    display: block;
    width: 20em;
    height: 20em;
    left: -5em;
    text-align: center;
    transition: box-shadow 0.5s ease-out;
    z-index: -1;
  }
  
.one:hover {
    color: #fff;
    border: 1px solid rgb(0, 17, 255);
  }
  
.one:hover::before {
    box-shadow: inset 0 0 0 10em rgb(0, 17, 255);
  }

.two {
    background: transparent;
    width: 60%;
    height: 20px;
    justify-content: center;
    position: relative;
    padding: 5px 25px;
    display: flex;
    align-items: center;
    font-size: 17px;
    font-weight: 600;
    text-decoration: none;
    cursor: pointer;
    border: 1px solid rgb(0, 17, 255);
    border-radius: 25px;
    outline: none;
    overflow: hidden;
    color: rgb(0, 0, 0);
    transition: color 0.3s 0.1s ease-out;
    text-align: center;
  }
  
.two span {
    margin: 10px;
  }
  
.two::before {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    content: '';
    border-radius: 50%;
    display: block;
    width: 20em;
    height: 20em;
    left: -5em;
    text-align: center;
    transition: box-shadow 0.5s ease-out;
    z-index: -1;
  }
  
.two:hover {
    color: #fff;
    border: 1px solid rgb(0, 17, 255);
  }
  
.two:hover::before {
  box-shadow: inset 0 0 0 10em rgb(0, 17, 255);
  }

.tree {
    background: transparent;
    width: 10%;
    height: 20px;
    justify-content: center;
    position: relative;
    padding: 5px 25px;
    display: flex;
    align-items: center;
    font-size: 17px;
    font-weight: 600;
    text-decoration: none;
    cursor: pointer;
    border: 1px solid rgb(0, 17, 255);
    border-radius: 25px;
    outline: none;
    overflow: hidden;
    color: rgb(8, 8, 8);
    transition: color 0.3s 0.1s ease-out;
    text-align: center;
  }

  
  
.tree span {
    margin: 10px;
  }
  
.tree::before {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    content: '';
    border-radius: 50%;
    display: block;
    width: 20em;
    height: 20em;
    left: -5em;
    text-align: center;
    transition: box-shadow 0.5s ease-out;
    z-index: -1;
  }
  
.tree:hover {
    color: #fff;
    border: 1px solid rgb(0, 17, 255);
  }
  
.tree:hover::before {
  box-shadow: inset 0 0 0 10em rgb(0, 17, 255);
  }

.home{
    display: flex;
    width: 89%;
    height: 50vh;
    /* border: 1px solid black; */
    justify-content: space-around;
}


section{
    padding-top: 6%;

}

.teste{
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    width: 60%;
    height: 40%;
    /* border: 1px solid red; */

}

.teste h1{
    height: 30%;
    font-size: 2.5rem;
    border-right: 3px solid rgb(141, 131, 131);
    width: 21ch;
    white-space: nowrap;
    overflow: hidden;
    animation: typing 2s steps(21), blinking 0.5s ease-in-out infinite;
}

.teste p{
    font-size: 3rem;
    font-family: 'Wendy One', sans-serif;
    transform: translateY(0px);
    animation: float 5s ease-in-out infinite;
}


.imagem{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 75%;
    width: 23%;
    /* border: 1px solid blue; */
}

.foto{
  width: 300px;
  height: 350px;
  background-image: url(/assets/img/283149099_5137559336332177_507569433021069880_n.jpg);
  border: solid 1px white;
  text-shadow: white 2px 10px 2px;
  background-size: 300px;
  
}

.social{
    height: 11%;
    width: 100%;
    padding-left: 8%;
    
}

.imagem div img{
    width: 40px;
    height: 40px;
}

.about-me{
    display: flex;
    width: 89%;
    height: 50vh;
    /* border: 1px solid rgb(174, 15, 15); */
    justify-content: space-around;
}

.teste1{
  display: flex;
  flex-direction: column;
  row-gap: 30px;
  width: 60%;
  height: 40%;
  /* border: 1px solid red; */

}

.teste1 h1{
  height: 30%;
  font-size: 4rem;
  -moz-animation-duration: 3s;
  -webkit-animation-duration: 3s;
  animation-duration: 3s;
  -moz-animation-name: slidein;
  -webkit-animation-name: slidein;
  animation-name: slidein;
  -moz-animation-iteration-count: 3;
  -webkit-animation-iteration-count: 3;
  animation-iteration-count: 3;
  -moz-animation-direction: alternate;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
}

.teste1 p{
  font-size: 2.3rem;
  font-family: 'Delius', cursive;
  padding-top: 3%;
}

.skills{
  display: flex;
  width: 89%;
  height: 50vh;
  border: 1px solid rgb(174, 15, 15);
  justify-content: space-around;
}
.teste2 {
    display: flex;
    width: 89%;
    height: 50vh;   
}

.teste2 h1{
  height: 30%;
  font-size: 4rem;
  display: inline-block;
  padding-left: 15%;
  opacity: 0;
  transform: translateY(-0.25em);
  display: inline-block;
  animation: burst_in 2.3s cubic-bezier(0, 1.62, 1, 1.6) infinite;
}

.teste2 p{
  display: flex;
  margin-right: 20%;
  height: 30%;
  font-size: 4rem;
  font-size: 2.3rem;
  font-family: 'Delius', cursive;
  padding-top: 10%;
}

@keyframes typing{
    from {
        width: 0;
    }
}
    @keyframes blinking {
    0%
    {
        border-color: transparent;
    }
}

@keyframes float{
    0%{
        transform: translateY(0px);
    }
    50%{
        transform: translateY(50px);
    }
    100%{
        transform: translateY(0px);
    }
}

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}

@-moz-keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}

@-webkit-keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}

@keyframes burst_in {
  25%, 80% {
    opacity: 1;
    transform: translateY(0);
  }
}

@for $i from 1 through 17 {
  .sentence-2 .letter:nth-of-type(#{$i}) {
    animation-delay: $i * 0.06s;
  }
  .sentence-3 .letter:nth-of-type(#{$i}) {
    animation-delay: ($i * $i * 0.0035s);
  }
  .sentence-4 .letter:nth-of-type(#{$i}) {
    animation-delay: $i * $i * $i * $i * 0.0000075s;
  }
  .sentence-5 .letter:nth-of-type(#{$i}) {
    animation-delay: ((17 - ($i * $i)) * 0.0025s) + 0.55s;
  }
  .sentence-6 .letter:nth-of-type(#{$i}) {
    animation-delay: ($i / 17 * ($i - 17) * 0.1s) + 0.3s;
  }
}